# System files #
################
.DS_Store

# Compiled sources #
####################
target
classpath.out

# Eclipse metadata #
####################
.classpath
.project
.settings

# Intellij metadata #
####################
.idea
*.iml

# Editor Temporary #
####################
*.swp

.secrets
